*{ 
    box-sizing : border-box; 
    background-color: rgb(184, 245, 245);
    font-size: 80px;
}


#contenedor {
 
  
display: flex;
border-color: black;
}

#div {
    background-color: rgb(68, 228, 68);

    height: 3rem;
    width: 3rem;
    margin: 0.5rem;
    /*
    padding: 1em;*/
    border-radius: 0.1rem;
    border:0.1em solid black;
    

}